src/main/resources/api/EnterpriseErrorLoggerHandler.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.arthrex.com/InfrastructureServiceLibrary/ErrorMessageLogger/V1" elementFormDefault="qualified" targetNamespace="http://xmlns.arthrex.com/InfrastructureServiceLibrary/ErrorMessageLogger/V1">     
<xsd:complexType name="Entity_Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="EntityType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EntityID" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RecipientListType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Recipient" type="RecipientType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RecipientType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="RecipientAddress" type="xsd:string"/>
            <xsd:element default="email" minOccurs="0" name="RecipientType">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="email"/>
                        <xsd:enumeration value="emailPage"/>
                        <xsd:enumeration value="pager"/>
                        <xsd:enumeration value="SMS"/>
                        <xsd:enumeration value="voice"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NotificationType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="sendNotification">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="RecipientList" type="RecipientListType"/>
            <xsd:element minOccurs="0" name="Subject" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UserMessage" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ErrorCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ErrorCodeDescription" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="sendBusinessNotification">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ProcessInfoType">
        <xsd:sequence>
            <xsd:element name="BusinessProcessName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A globally unique identifier for the BPEL process.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BusinessProcessId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>System generated unique identifier for the process
                        instance.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="BusinessProcessStep" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Information that will help developers identify and
                        localize the place of error in the BPEL code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="BusinessProcessDomain" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The BPEL server domain under which the process is
                        deployed</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="SystemName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The system name where the BPEL server is running.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
             <xsd:element minOccurs="0" name="IntegrationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The IntegrationID will be used for Business Notification.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ErrorDetailsType">
        <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>A unique code for a type of error EX- ERR_DB_AUTH_FAIL</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ErrorDescription" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Human-readable detailed description of the error</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ErrorText" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Error information supplied to the process catch block.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element default="system" minOccurs="0" name="ErrorType">
                <xsd:annotation>
                    <xsd:documentation>Type of error ex- database connection error, ftp
                        connection error</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="business"/>
                        <xsd:enumeration value="system"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element default="fatal" name="ErrorSeverity">
                <xsd:annotation>
                    <xsd:documentation>One of the specified codes for error severity levels</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="fatal"/>
                        <xsd:enumeration value="error"/>
                        <xsd:enumeration value="warning"/>
                        <xsd:enumeration value="info"/>
                        <xsd:enumeration value="debug"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ErrorDateTime" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The date-time stamp of occurence of error</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MessageDetailsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="MessageId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Unique record-level identifier for the message</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="MessageDateTime" nillable="true" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>The creation date-time of the message</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="MessageType" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Type of Message Data, ex- Purchase Order</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="MessageVersion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MessageOperation" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Operation being carried out ex- Invoice Request</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="MessageSourceSystem" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Source System for Message Data ex- SAP</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="MessageSourceSystemComponent" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Source System Component for Message Data</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="MessageData" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>The payload of the message</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>  
    <xsd:element name="ErrorData">
        <xsd:annotation>
            <xsd:documentation>Error Data containing Error, Notification, Message,
                      Business Process, System details along
                      with the same passed back from a sub-process</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ProcessInfo" type="ProcessInfoType">
                    <xsd:annotation>
                        <xsd:documentation>Process information pertaining to process errored out</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Entity" type="Entity_Type"/>
                <xsd:element minOccurs="0" name="ErrorDetails" type="ErrorDetailsType">
                    <xsd:annotation>
                        <xsd:documentation>Error Details including error code, description, text
                         and severity</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Notification" type="NotificationType"/>
               <xsd:element minOccurs="0" name="MessageDetails" type="MessageDetailsType">
                    <xsd:annotation>
                        <xsd:documentation>Message Details including message id, data, date, time
                         and type</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>